html, body {
	/* Prevent some special UAs like Steam from making text unreadable */
	background: #fff;
}

main {
	padding: 8px;
}

label.pop-icon {
	display: block;
	width: 100%;
}
#population .mdl-cell {
	text-align: center;
}

h5, h6 {
	cursor: pointer;
}

.mdl-textfield__input.efficiency {
	display: inline;
	width: 4em;
}
			
.chain--level-1 {
	padding-left: 1.5em;
}
			
.chain--level-2 {
	padding-left: 3em;
}

.chain--level-3 {
	padding-left: 4.5em;
}
			
.no-need {
	opacity: 0.35;
}

.opt-save-buttons {
	margin-bottom: 2em;
	word-spacing: 1.5em;
}

#save-list {
	display: inline;
	width: auto;
}

#index-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#index-links a {
	max-width: 15em;
	text-decoration: none;
}

#index-link--anno1404 .mdl-card__title {
	background: rgb(255,152,0);
	color: white;
}

#index-link--anno2070 .mdl-card__title {
	background: rgb(63,81,181);
	color: white;
}

